{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<form action="#" method="post">
  <p>&emsp;</p>

<p style="text-align: center;color:rgba(0, 0, 0, 0);"><input type='submit' name='submit_button' value='Add/Gen Password' style="width:400px;height: 75px; font-size: 20px; background-color: rgba(32,32,32); border: 5px solid white; color: white; "/></p>
<p>&emsp;</p>
<p style="text-align: center;color:rgba(0, 0, 0, 0);"><input type='submit' name='submit_button' value='Remove Password' style="width:400px;height: 75px; font-size: 20px; background-color: rgba(32,32,32); border: 5px solid white; color: white; " /></p>
<p>&emsp;</p>
<p style="text-align: center;color:rgba(0, 0, 0, 0);"><input type='submit' name='submit_button' value='Search' style="width:400px;height: 75px; font-size: 20px; background-color: rgba(32,32,32); border: 5px solid white; color: white; " /></p>
<p>&emsp;</p>
    

</form>
<head>
  <style>
    table,
    td,
    th {
      padding: 10px;
      border: 2px solid white;
      border-radius: 5px;
      background-color: rgba(32,32,32);
      text-align: center;
    }
  </style>
</head>
<body style="background-color: black;">
<table style=style="border:2px solid black; margin-left:auto;margin-right:auto; align='center' ">
    <tr>
      <th style = "font-family: helvetica;font-size:30px; font-weight: normal; text-align:center; color: white;">Site Name</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">Username</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">Password</th>
    </tr>
    {%for x in l%}
    <tr>
      <th style = "font-family: helvetica;font-size:30px; font-weight: normal; text-align:center; color: white;">{{x[0]}}</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">{{x[1]}}</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">{{x[2]}}</th>
    </tr>
    {% endfor %}
  </table>
  </body>
{% endblock %}