{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}

<form action="#" method="post" autocomplete="off">
    <p>&emsp;</p>
    <p>&emsp;</p>
    <p>&emsp;</p>
    
    <p style="text-align:center;font-family:helvetica;font-size:30px; color: white;">Master Password:</p>
    <p style="text-align:center;" ><input type='text' name='nm'/></p>
    <p>&emsp;</p>
    <p style="text-align:center;"><input type='submit' value='Submit' style="width:125px;height: 25px;"/></p>


</form>
{% endblock %}