{% extends "base.html" %}
{% block title %}Search results{% endblock %}
{% block content %}
<p>&emsp;</p>
<p>&emsp;</p>
<table style="border:1px solid white; margin-left:auto;margin-right:auto;">
    {%for x in l%}
    <tr>
      <th> &emsp; &emsp; &emsp; </th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center; color: white;">{{x[0]}}</th>
      <th> &emsp; &emsp; &emsp;&emsp; &emsp; &emsp;</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">{{x[1]}}</th>
      <th> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
      <th style = "font-family:helvetica;font-size:30px; font-weight: normal; text-align:center;color: white;">{{x[2]}}</th>
      <th> &emsp; &emsp; &emsp; </th>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}