{% extends "base.html" %}
{% block title %} Search {% endblock %}

{% block content %}
<form action="#" method="post" autocomplete="off">
    <p style="text-align:center;font-family:helvetica;font-size:40px;color:white;">Search</p>
    <p style="text-align:center;color:white;">Site:</p>
    <p style="text-align:center;"><input type='text' name='site'/></p>
    <p style="text-align:center;"><input type='submit' name='submit_button' value='Search' style="width:125px;height: 25px;"/></p>
{% endblock %}